NEXT_PUBLIC_API_URL=http://localhost:3001
NEXT_PUBLIC_CELO_RPC_URL=https://forno.celo-sepolia.celo-testnet.org
NEXT_PUBLIC_CHAIN_ID=11142220
NEXT_PUBLIC_BLOCK_EXPLORER=https://celo-sepolia.blockscout.com
NEXT_PUBLIC_WALLETCONNECT_PROJECT_ID=
